# === Java y Maven ===
*.class
*.jar
*.war
*.ear
target/
bin/

# === Eclipse ===
.project
.classpath
.settings/
.metadata/
recovery/

# === IntelliJ (por si acaso alguno usa) ===
.idea/
*.iml
*.ipr
*.iws

# === Sistema Operativo ===
.DS_Store
Thumbs.db

# === Logs ===
*.log
logs/
*.out

# === Archivos sensibles ===
.env
.env.local
*.key
*.pem

# === Docker ===
**/docker-compose.override.yml
**/docker-compose.yml
**/Dockerfile

# === Otros (opcional) ===
.vscode/
.cache/
build/
node_modules/
